<!-- Header Start -->
<header class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a
                class="navbar-brand"
                href="/index.html"
                style="color:#fff;font-weight: 900;font-size: 30px;padding-right: 0.2em;padding-left: 0em;padding-top: 0.6em;"
              >
                techlab
              </a>
              <a
                class="navbar-brand"
                href="/index.html"
                style="color:#224360;font-weight: 900;font-size: 30px;padding-top: 0.6em;margin-left: -15px;"
              >
                education
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse"
              id="bs-example-navbar-collapse-1"
            >
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/index.html" style="font-size: 20px;">home</a></li>
                <li>
                  <a href="/about.html" style="font-size: 20px;">about</a>
                </li>
                <li>
                  <a href="/portfolio.html" style="font-size: 20px;">gallery</a>
                </li>
                <li><a href="/faq.html" style="font-size: 20px;">faq</a></li>
                <li>
                  <a href="/contact.html" style="font-size: 20px;">contact</a>
                </li>
                <li>
                  <a
                    href="/wp-blog.html"
                    style="font-size: 20px;padding-right: 0.75em;"
                    >blog</a
                  >
                </li>
                <li
                  style="background-color: #fff;border-radius: 3em;padding-left: 1em;padding-right: 1em;"
                >
                  <a href="fall2020.html" style="font-size: 20px;color: #149dff;"
                    >enroll</a
                  >
                </li>
                <li>
                  <a
                    style="font-size: 30px;font-weight: 300;padding-left: 0.5em;color: #fff;padding-right: 0.1em;"
                  >
                    |
                  </a>
                </li>
                <li>
                  <a href="" style="font-size: 20px;padding-right: 0.75em;"
                    >account</a
                  >
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- header close -->
