<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %}
    <style>
      .tutor-images {
        display: flex;
        flex-wrap: wrap;
      }
      .tutor-images img {
        border-radius: 100px;
      }
    </style>
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-7">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="about section">-->
    <div class="container">
      <div class="row">
        <center>
          <div class="col-md-6 col-md-offset-3">
            <h2 class="mt-40" style="font-weight:bolder;">We are Coders, Makers, Engineers </h2>
            <p>
              Our mission is to make technology education accessible & fun.
            </p>

            <p>
              We are passionate about nurturing the next generation of
              entrepreneurs & community problem solvers.
            </p>
            <p>
              Our tutors work closely with students to make their dreams come
              true.
            </p>
            <p>
              We are
              <strong><a href="hiring.html" target="blank">HIRING</a></strong
              >! Connect with us at info@techlabeducation.com.
            </p>
          </div>
        </center>
      </div>
      <center>
        <h2 class="mt-40" style="font-weight:bolder;">Team: 2019/2020</h2>
      </center>
      <div class="row counter-box text-center mt-50 tutor-images">
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/aayush.JPG" style="width:100px;" />
            <h4 class="counter">Aayush</h4>
            <span>Lynbrook, Senior</span>
          </div>
        </div>

        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/jaideep.JPG" style="width:100px;" />
            <h4 class="counter">Jaideep</h4>
            <span>Univ of Illinois Urbana Champagne, Chemical & CS</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/chris.JPG" style="width:100px;" />
            <h4 class="counter">Chris</h4>
            <span>Wisconsin Madison, Computer Science</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/likhith.jpg" style="width:100px;" />
            <h4 class="counter">Likhith</h4>
            <span>SJSU, MS Computer Engineering</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/prathap.jpg" style="width:100px;" />
            <h4 class="counter">Prathap</h4>
            <span>SJSU, MS Computer Engineering</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/sajiv.JPG" style="width:100px;" />
            <h4 class="counter">Sajiv</h4>
            <span>Saratoga High, Sophomore</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/sonal.jpeg" style="width:100px;" />
            <h4 class="counter">Sonal</h4>
            <span>Genentech, Rice, BS Bioengineering</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/stephanie.jpg" style="width:100px;" />
            <h4 class="counter">Stephanie</h4>
            <span>Washington Univ, St Louis, CS & Math</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/mayura.jpg" style="width:100px;" />
            <h4 class="counter">Mayura</h4>
            <span>CSU, Brocade, Sybase</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors2/zack.jpg" style="width:100px;" />
            <h4 class="counter">Zack</h4>
            <span>Monta Vista Junior</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              style="width:100px; border-radius: 1000px"
              src="images/tutors/ryan new.jpg"
            />
            <h4 class="counter">Ryan</h4>
            <span>UCSC, Computer Science</span>
          </div>
        </div>
         <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              style="width:100px; border-radius: 1000px"
              src="images/tutors/ronak.jpeg"
            />
            <h4 class="counter">Ronak</h4>
            <span>Saratoga High Senior</span>
          </div>
        </div>
      </div>
      <center>
        <h2 class="mt-40" style="font-weight:bolder;">Team : 2018/2019</h2>
      </center>

      <div class="row counter-box text-center mt-50">
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors/Cole.png" style="width:100px;" />
            <h4 class="counter">Cole</h4>
            <span>SJSU, Computer Science</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors/Anika.png" style="width:100px;" />
            <h4 class="counter">Anika</h4>
            <span
              >Duke, CS Graduate<br />
              Google</span
            >
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              src="images/tutors/jamie.jpeg"
              style="width:100px; border-radius: 1000px;"
            />
            <h4 class="counter">Jamie</h4>
            <span
              >Case Western, Engineering<br />
              Google</span
            >
          </div>
        </div>

        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              src="images/tutors/anikap.jpeg"
              style="width:100px; border-radius: 1000px;"
            />
            <h4 class="counter">Anika p</h4>
            <span>Univ of Washington, <br />Computer Science</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img src="images/tutors/Sonal.png" style="width:100px;" />
            <h4 class="counter">Sonal</h4>
            <span>Rice, BioEngineering</span>
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              style="width:100px; border-radius: 1000px"
              src="images/tutors/ryan new.jpg"
            />
            <h4 class="counter">Ryan</h4>
            <span>UCSC, Robotics Engineering</span>
          </div>
        </div>
      </div>
      <!-- <center>
        <h2 class="mt-40" style="font-weight:bolder;">owners</h2>
        </center> -->

      <center>
        <h2 class="mt-40" style="font-weight:bolder;">
          Program Coaches & Directors
        </h2>
      </center>
     
      <center>
      <div class="row counter-box text-center mt-50">
        <div class="col-md-2 col-md-offset-4" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              src="images/tutors/shalini.jpeg"
              style="width:100px; border-radius: 1000px;"
            />

            <h4 class="counter">Shalini</h4>
            <span
              >General Manager, Android TV at Google, Pratham USA Board, Charter
              Member TiE Silicon Valley, IIT Bombay.</span
            >
          </div>
        </div>
        <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              src="images/tutors/raj.jpeg"
              style="width:100px; height:100px; border-radius: 2000px;"
            />
            <h4 class="counter">Raj</h4>
            <span
              >NASA Research, Former Executive, Intel, Teradata, & Informatica, IIT Bombay,
              Berkeley alum.</span
            >
          </div>
        </div>
        </center>
        {# <div class="col-md-2" style="padding-bottom: 50px;">
          <div class="counter-item">
            <img
              src="images/tutors/keshav.jpeg"
              style="width:100px; border-radius: 1000px;"
            />
            <h4 class="counter">Keshav</h4>
            <span>
              Serial entrepreneuer, techlab co-founder, Pythonroom, CS
              University of Illinois Urbana-Champaign.</span
            >
          </div>
        </div> #}
      </div>
    </div>
    
    <!--</section> -->

    {% include "footer.njk" %} {% include "jsincludes.njk" %}
  </body>
</html>
