<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %} {% include "payment_css.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}
    <section class="page-title bg-6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">Design Web & Mobile Apps</h1>
              <a
                href="summer.html"
                class="btn btn-main animated fadeInUp"
                style="margin: 0px 25px 0px 0px;"
                >Summer Camps</a
              >
              <a
                href="https://www.facebook.com/pg/techlabeducation/events/?ref=page_internal"
                class="btn btn-main animated fadeInUp"
                style="margin: 0px 25px 0px 0px;"
                target="blank"
                >open house</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "payment_modal.njk" %}

    <!-- <section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <div class="block">
            <h4 style="font-weight: bolder;">GRADE: <p style="font-weight: normal; display: inline; font-size: 17px;">6th-8th</p></h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block">
          <h4 style="font-weight: bolder;">PREREQUISITE: <p style="font-weight: normal; display: inline; font-size: 17px;">NONE</p></h4>
        </div>
      </div>
    </div>
  </div>
</section> -->

    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/mobile-apps.jpg"
                style="width:80%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h2 style="font-weight: bolder; margin: 0px;">
              Intro to Mobile Apps & Design
            </h2>
            <h4 style="font-weight: bolder;">Intro Level</h4>
            <h5 style="font-weight: bolder; padding-bottom: 10px;">
              For:
              <p style="font-weight: normal; display: inline;">
                <strong>grades 5+, No prior experience needed</strong>
              </p>
            </h5>
            <h5 style="font-weight: bolder;">TOPICS</h5>
            <p style="margin:0px;">
              <strong>Beginners build their first mobile app</strong>
            </p>
            <p style="">
              Develop your first mobile app using block-based programming in
              Thunkable
            </p>
            <p style="margin-bottom:10px;"><strong>Duration: 1 week</strong></p>
            <p style="margin-bottom:10px;">
              <strong
                ><a href="images/CurriculumIntroMobileApps.pdf"
                  >Read details of Mobile Apps Curriculum</a
                ></strong
              >
            </p>

            <button
              class="btn btn-main enroll-button"
              data-for-class="design"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;margin:0px 10px 0px 0px;"
            >
              ENROLL
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/web-design.jpg"
                style="width:80%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h2 style="font-weight: bolder; margin: 0px;">
              Intro to Web Design
            </h2>
            <h4 style="font-weight: bolder;">Intro Level</h4>
            <h5 style="font-weight: bolder; padding-bottom: 10px;">
              For:
              <p style="font-weight: normal; display: inline;">
                <strong>grades 5+, No prior experience needed</strong>
              </p>
            </h5>
            <h5 style="font-weight: bolder;">TOPICS</h5>
            <p style="margin:0px;">
              <strong>Beginners build their own Web Project</strong>
            </p>
            <p style="">
              Develop your first Website using html, style sheets and learn Web
              fundamentals
            </p>
            <p style="margin-bottom:10px;"><strong>Duration: 1 week</strong></p>
            <p style="margin-bottom:10px;">
              <strong
                ><a href="images/CurriculumWebDesign.pdf"
                  >Read details of Web Design Curriculum</a
                ></strong
              >
            </p>

            {#
            <button
              class="btn btn-main enroll-button"
              data-for-class="design"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
            #}
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/mobile-apps.jpg"
                style="width:80%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h2 style="font-weight: bolder; margin: 0px;">
              Full Day: Python & Mobile Apps
            </h2>
            <h4 style="font-weight: bolder;">Intro Level</h4>
            <h5 style="font-weight: bolder; padding-bottom: 10px;">
              For:
              <p style="font-weight: normal; display: inline;">
                grades 6+, <strong>No prior experience needed</strong>
              </p>
            </h5>
            <h5 style="font-weight: bolder;">
              TOPICS: Coding + Design own Mobile App
            </h5>
            <p style="">
              <strong>Intro to Python + Build your first mobile app</strong>
            </p>
            <p style="">Learn python and develop a fully functional project</p>
            <p style="">Design and develop your first mobile app</p>
            <p style="margin-bottom:10px;">
              <strong>Duration: 1 week, 9-4 pm</strong>
            </p>

            <button
              class="btn btn-main enroll-button"
              data-for-class="pythonDesigner"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/mobile-apps.jpg"
                style="width:80%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h2 style="font-weight: bolder; margin: 0px;">
              Mobile Apps | Design & Development
            </h2>
            <h4 style="font-weight: bolder;">Intermediate Level</h4>
            <h5 style="font-weight: bolder; padding-bottom: 10px;">
              For:
              <p style="font-weight: normal; display: inline;">
                <strong>grades 8+, Some prior experience preferred</strong>
              </p>
            </h5>
            <h5 style="font-weight: bolder;">TOPICS</h5>
            <p style="margin:0px;">
              <strong
                >Design best practices, UI/UX concepts, multi-screen app using
                component, services, views</strong
              >
            </p>
            <p style="">Develop your favorite mobile app using iOS Swift</p>
            <p style="margin-bottom:10px;">
              <strong>Duration: 2 weeks</strong>
            </p>
            <p style="margin-bottom:10px;">
              <strong
                ><a href="images/CurriculumMobileAppDesignIntermediate.pdf"
                  >Read details of Mobile Apps Intermediate Curriculum</a
                ></strong
              >
            </p>

            <button
              class="btn btn-main enroll-button"
              data-for-class="design-advanced"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/web-design.jpg"
                style="width:80%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h2 style="font-weight: bolder; margin: 0px;">
              Web Design & Development
            </h2>
            <h4 style="font-weight: bolder;">Intermediate Level</h4>
            <h5 style="font-weight: bolder; padding-bottom: 10px;">
              For:
              <p style="font-weight: normal; display: inline;">
                <strong
                  >grades 7+, Some prior coding experience preferred</strong
                >
              </p>
            </h5>
            <h5 style="font-weight: bolder;">TOPICS</h5>
            <p style="margin:0px;">
              <strong
                >Html, cascading style sheets(CSS), javascript, design best
                practices</strong
              >
            </p>
            <p style="">
              Outcome: Students independently design & develop a personal Web
              site and upload it to a private cloud
            </p>
            <p style="margin-bottom:10px;">
              <strong>Duration: 2 weeks</strong>
            </p>

            <p style="margin-bottom:10px;">
              <strong
                ><a href="images/CurriculumWebDesign.pdf"
                  >Read details of Web Design Intermediate Curriculum</a
                ></strong
              >
            </p>

            {#
            <button
              class="btn btn-main enroll-button"
              data-for-class="web-design-advanced"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
            #}
          </div>
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %} {% include
    "payment_js.njk" %}
  </body>
</html>
