<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-7">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">techlab community</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fafafa;">
      <div class="container">
        <div class="container">
          <div class="row space-top-bottom">
            <div class="col-md-7 col-md-7">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-primary"><strong></strong></h5>
                  <div class="card-body" style="margin-top:-30px">
                    <p class="card-text text-secondary">
                      techlab Community includes our efforts & collaboration
                      with partners to inspire, challenge and motivate our 21st
                      century leaders.
                    </p>

                    <h3 class="card-title text-primary text-center">
                      <strong>Free Debate Program</strong>
                    </h3>
                    <p class="card-text text-secondary">
                      Techlab is proud to sponsor a FREE debate program for
                      middle school kids, working with our partners,
                      <a href="https://sbyda.weebly.com/" target="_blank"
                        >South Bay Youth Debate Academy</a
                      >.
                    </p>
                    <p class="card-text text-secondary">
                      Speech and Debate is widely regarded as one of the most
                      beneficial activities done by middle-schoolers and
                      high-schoolers. However there are currently very few
                      viable options for middle schoolers to get a headstart on
                      their debate needs.
                    </p>
                    <p class="card-text text-secondary">
                      Working with our partner, SBYDA, we provide:
                      <li>Free coaching for middle schoolers</li>
                      <li>Tested round-winning tactics and strategies</li>
                      <li>
                        Training led by skilled debaters who have participated
                        in Nationals
                      </li>
                      <li>
                        Learning in a challenging competitive environment While
                        having fun.
                      </li>
                    </p>
                    <p class="card-text text-secondary">
                      Classes start Sep. 10, 2018 and are every Monday from 6-8p
                      (at our techlab facility) along with occasional
                      tournaments on weekends. For more information or to
                      register, go to
                      <a href="https://sbyda.weebly.com/" target="_blank"
                        >SBYDA website</a
                      >.
                    </p>

                    <h3 class="card-title text-primary text-center">
                      <strong>Inspire Speaker Series</strong>
                    </h3>
                    <p class="card-text text-secondary">
                      Techlab Inspire Series features industry leaders,
                      researchers, technologists and students, and showcases the
                      ways in which technology & education along with strong
                      leadership and dedication, are changing the world.
                    </p>
                    Topics will serve as inspiration for kids to make them
                    think, challenge them, and motivate them. Some topics we are
                    planning include,
                    <ul style="list-style-type:circle">
                      <li>
                        Keep Kids Safe in Mobile Apps | Security & Privacy
                      </li>
                      <li>
                        Artifical Intelligence | Hype or Reality for kids?
                      </li>
                      <li>
                        What Facebook looks for in young budding innovators
                      </li>
                      <li>
                        Learning to love computers, my journey from Techlab to
                        Google
                      </li>
                      <li>
                        How to reach and impact millions of kids globally
                        through software
                      </li>
                      <li>Google VP reveals Top Search Trends for Kids</li>
                      <li>Is Privacy even possible in today’s world?</li>
                      <li>
                        Why Women leaders may perform better in Technology
                        Leadership?
                      </li>
                      <li>Can the sun provide 50% of our energy by 2050?</li>
                      <li>How AI changes our lives in 10 years</li>
                      <li>
                        Safe gaming, surfing, chatting in the digital world
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-lg-5">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title text-primary text-center">
                    <strong>INSPIRE Speaker Series 2019</strong>
                  </h3>
                  <p class="card-text text-secondary">
                    <strong>
                      Dave Kleidermacher, Google VP & Head of Android Security |
                      Keep Kids Safe in Mobile Apps
                    </strong>
                  </p>
                  <p>
                    <strong>
                      Fri, Apr 19, 2019, 5-6 pm.
                      <a
                        href="https://www.eventbrite.com/e/security-privacy-in-mobile-apps-google-vp-dave-kleidermacher-free-techlab-inspire-speaker-event-tickets-59298520471"
                        >REGISTER
                      </a>
                    </strong>
                  </p>
                  <div class="card-body" style="margin-top:0px">
                    <p class="card-text text-secondary">
                      <a href="contact.html">Sign Up</a> to be notified when we
                      add more programs and events.
                    </p>

                    <h5 class="card-title text-primary text-center">
                      <strong>2018 Events</strong>
                    </h5>
                    <p class="card-text text-secondary">
                      <a
                        href="https://www.linkedin.com/in/shashidharthakur/"
                        target="_blank"
                        >Shashi Thakur, Google VP Engineering,</a
                      >
                      "AI: Hype or Reality?" Fri, Dec 7, 5-6 pm.
                    </p>
                    <p class="card-text text-secondary">
                      <a href="http://www.pandunayak.com" target="_blank"
                        >Pandu Nayak, Google Fellow & VP Search,</a
                      >
                      "How Search Works" Fri, Jul 13, 4-5 pm.
                    </p>
                    <p class="card-text text-secondary">
                      <a
                        href="https://www.linkedin.com/in/anika-ayyar-66395aaa"
                        target="_blank"
                        >Anika Ayyar, Google APM,</a
                      >
                      "Learning to love computers: My journey from Techlab to
                      Google" Sat, Jun 9, 5-6 pm.
                    </p>
                    <p class="card-text text-secondary">
                      <a
                        href="https://www.linkedin.com/in/sjanardhan/"
                        target="_blank"
                        >Santosh Janardhan, Facebook VP,</a
                      >
                      "What Facebook looks for in young budding innovators" Sat,
                      Jun 16, 5-6 pm.
                    </p>
                    <p class="card-text text-secondary">
                      <a
                        href="https://www.linkedin.com/in/keshav-saharia-54161b32/"
                        target="_blank"
                        >Keshav Saharia, Techlab & Pythonroom founder,</a
                      >
                      "How to reach and impact millions of kids globally through
                      software" Sat, Jul 14, 5-6 pm.
                      <a href="https://www.bit.ly/Techlab-Inspire-KeshavSaharia"
                        >Register.</a
                      >
                    </p>

                    <p class="card-text text-secondary">
                      <i>
                        *We have limited space & preference will be given to
                        currently registered techlab students and parents
                        attending with students.
                      </i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %}
  </body>
</html>
