<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-7">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">curriculum</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fafafa;">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card space-top-bottom">
                <div class="card-body">
                  <p class="card-text">
                    <strong
                      >What do kids need to be successful CEOs, scientists,
                      hackers & leaders in 2030?</strong
                    >
                  </p>

                  <p class="card-text text-secondary">
                    This was the question we posed to ourselves as we developed
                    Techlab’s curriculum. We leaned on several years of
                    experience teaching students. We conducted in-depth research
                    with experts in education and reviewed the
                    <a href="https://k12cs.org/" target="_blank"
                      >K-12 Computer Science Framework, </a
                    >which is endorsed by teachers, states and leading companies
                    such as Google, Amazon, Apple & more.
                  </p>

                  <p class="card-text text-secondary">
                    Kids today need to have an end to end exposure to technology
                    & computers and how it impacts our world.
                  </p>
                  <p>
                    The Techlab curriculum has been developed with these guiding
                    principles:
                  </p>
                  <ul class="list-group">
                    <li
                      class="list-group-item  card-text text-secondary list-group-item-info"
                    >
                      Providing a
                      <em class="font-weight-bold">comprehensive</em>
                      understanding of computing including systems, Internet,
                      data, programming and how it is applied to solve problems
                      and drive innovation
                    </li>
                    <li
                      class="list-group-item card-text text-secondary list-group-item-info"
                    >
                      Emphasis on
                      <em class="font-weight-bold"
                        >analytical, design, and collaborative</em
                      >
                      skills
                    </li>
                    <li
                      class="list-group-item card-text text-secondary list-group-item-info"
                    >
                      Focus on <em class="font-weight-bold">interleaving</em> of
                      concepts and hands-on
                      <em class="font-weight-bold">programming</em> in Python,
                      Java, Html, Javascript and be prepared for emerging
                      languages and frameworks
                    </li>
                    <li
                      class="list-group-item card-text text-secondary list-group-item-info"
                    >
                      Focus on
                      <em class="font-weight-bold">changemaker skills</em>
                      embracing empathy, flexibility, and life-long learning.
                    </li>
                  </ul>
                  <hr />

                  <h5 class="card-title">Tynkerer</h5>
                  <p class="card-text text-secondary">
                    For Tynkerers (typically grade 5, 6, 7), the class content
                    develops understanding around how computers work, nurturing
                    logical and flow-based instructions using pseudo code and
                    then develop this foundation further by designing
                    interactive games in Python. The learning continues with
                    design skills and creating a mobile app and a web site, and
                    enhanced learning and tinkering through Arduino projects
                    that use hardware and sensors.
                  </p>

                  <h5 class="card-title">Explorer</h5>
                  <p class="card-text text-secondary">
                    For Intermediate learners (typically grades 6, 7 & 8), we
                    dive deeper into Internet, data, and design concepts. Kids
                    develop their own website in HTML/Javascript, use styling
                    using a templating framework, develop visualizations and
                    games in Python. We then go deeper in the concepts of
                    programming and problem solving using Python. The curriculum
                    also includes learning sensors and camera using Raspberry
                    Pi, which the kids control through the internet using their
                    own hosted website.
                  </p>

                  <h5 class="card-title">Innovator</h5>
                  <p class="card-text text-secondary">
                    Finally, for the Advanced learners (grades 8 and above) we
                    help interested students get ready to take APCS
                    <a
                      href="https://apcentral.collegeboard.org/courses/ap-computer-science-a?course=ap-computer-science-a"
                      target="_blank"
                      >(Advanced Placement Computer Science)</a
                    >
                    in their high school years and deep dives into
                    object-oriented programming in Java. We also develop AI/ML
                    understanding using advanced python packages amd encourage
                    students to build portfolio engineering and code projects.
                    The projects combine design (web, mobile), advanced coding,
                    maker and entrepreneurship skills for science fairs,
                    internships, hackathons, or building one's own dream
                    project.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %}
  </body>
</html>
