{% import "payment_mixins.njk" as p %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %} {% include "payment_css.njk" %}
    <style>
      .class-name {
        margin: 5px;
        text-align: center;
      }
      .blue-1 {
        --theme-color: #5cc6cf !important;
      }
      .blue-2 {
        --theme-color: #5cc6cf !important;
      }
      .blue-3 {
        --theme-color: #5cc6cf !important;
      }
      .class-row {
        border-radius: 8px;
        border: 2px solid #5cc6cf;
        padding: 8px 0 8px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0 10px 0;
        flex-wrap: wrap;
        transition: all 0.2s ease-in-out;
        /*box-shadow: 3px 3px 0px 0px var(--theme-color);*/
        transform: translate(0, 0);
      }
      .class-row:hover {
        box-shadow: 5px 5px 0px 0px var(--theme-color);
        transform: translate(-2px, -2px);
      }
      .class-row .col-md-2,
      .col-md-3,
      .col-md-4 {
        margin: 3px 0 3px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
      .flex-left {
        justify-content: flex-start;
      }
      .class-row p {
        margin: 0;
      }
    </style>
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">Fall 2020 Online Classes</h1>
              <a
                href="/schedule.html"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 6px;font-weight: 900;border-radius: 2em"
              >
                Fall Calendar</a>
              {# <a
                href="https://lbtricvuobirgvexydwub-free.10to8.com"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 12px;font-weight: 900;border-radius: 5em"
                target="blank"
                >Free Consultation</a> #}
                  
                  {# <a
                href="https://bit.ly/techlab_Summer2020"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 12px;font-weight: 900;border-radius: 5em"
                target="blank"
                >Virtual Open House</a> #}
              

                 <h3 style="color: white; font-weight: bolder;">
                Engaging & Fun School Year Sessions
              </h3>
                 {# <h3 style="color: white;font-weight: bolder;">
                NEW! Intro to Data Science BootCamp
              </h3> #}
              <h3 style="color: white;font-weight: bolder;">
                  
                  Convenient Once-a-week Classes
              </h3>
              {# <a
                href="https://bit.ly/techlabsummer"
                class="btn btn-main animated fadeInUp"
                style="margin: 0px 25px 0px 0px;"
                target="blank"
                >Summer 2020 Survey</a
              > #}
              
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "payment_modal.njk" %}

    <section
      class="about section"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <div class="container" style="margin: 0 20px 0 20px">
        <img
          src="images/tynkerer icon-01.png"
          style="width: 7em;/*! position: absolute; */float: right;margin-top: 1.25em;"
        />
        <h1 id="tynkerer" style="font-weight: 900;">Tynkerers</h1>
        <h1
          style="font-size: 27px;margin-top: 0em;font-weight: 900;color: #7b7b7b;"
        >
          Grades 5-6 | Intro to Programming |
          <a href="/schedule.html">Fall Schedule</a>
        </h1>
        <div
          class="container blue-1"
          style="padding-bottom:30px; padding-left:0px;"
        >
            {# {{
          p.class_row( name="Intro to Python & Mobile Apps", info="Begin with programming and building mobile apps",
          times="1 week, 9-4p", prereqs="None",
          nextclass="Intermediate Python", id="python-mobile-intro",
          link="python-mobile-intro.html" ) }}

           {{
          p.class_row( name="Intro to Python & Electronics", info="Begin with programming and building Arduino electronics project",
          times="1 week, 9-4p", prereqs="None",
          nextclass="Intermediate Python", id="python-maker-intro",
          link="python-maker-intro.html" ) }} #}

          {{
          p.class_row( name="Intro to Python", info="Begin with programming",
          times="Wed: 4.30-6p", fees="$350", prereqs="None",
          nextclass="Intermediate Python", id="python-intro",
          link="python-intro.html" ) }}
          
          {{ p.class_row( name="Intro to Mobile Apps", info="Build your first
          mobile app", times="Tue: 4.30-6p", fees="$350", prereqs="None", nextclass="Intro to
          Python", id="mobileAppsIntro", link="mobileAppsIntro.html" ) }} 
          
{#           
          {{ p.class_row( name="Intro to Electronics", info="Begin with
          maker and design with Arduino", times="Fall 2020", prereqs="None",
          nextclass="Intro to Python", id="arduino-intro", link="arduino-intro.html") }}
        </div> #}
        
        </div>
         <img
          src="images/hammer icon-01.png"
          style="width: 7em;/*! position: absolute; */float: right;margin-top: 1.25em;"
        />
        <h1 id="tynkerer" style="font-weight: 900;">Explorers</h1>
        <h1
          style="font-size: 27px;margin-top: 0em;font-weight: 900;color: #7b7b7b;"
        >
          Grades 7-9 | Foundations |
          <a href="/schedule.html">Fall Schedule</a>
        </h1>

        <div
          class="container blue-2"
          style="padding-bottom:30px; padding-left:0px;"
        >

         {{ p.class_row( name="Intro to
          Java", info="Begin programming in Java", times="Wed: 4.30-6p", fees="$400", prereqs="none", nextclass="Intermediate Java",
          id="java-intro", link="java-intro.html" ) }} 

        {# {{ p.class_row( name="Intro to
          Java & Challenges", info="Begin programming in Java and sharpen skills with practice projects", times="1 week, 9-4p", prereqs="none", nextclass="Intermediate Java",
          id="java-intro-fullday", link="java-intro-fullday.html" ) }} 

        {{
          p.class_row( name="Intro to Python & Mobile Apps", info="Begin with programming and building mobile apps",
          times="1 week, 9-4p", prereqs="None",
          nextclass="Intermediate Python", id="python-mobile-intro",
          link="python-mobile-intro.html" ) }}

           {{
          p.class_row( name="Intro to Python & Electronics", info="Begin with programming and building Arduino electronics project",
          times="1 week, 9-4p", prereqs="None",
          nextclass="Intermediate Python", id="python-maker-intro",
          link="python-maker-intro.html" ) }} #}


          {# {{ p.class_row( name="Intermediate Python & Challenges ", info="Enhance programming
          skills in Python and sharpen skills with practice projects", times="2 weeks, 9-4p",
          prereqs="Intro to Python", nextclass="Intro or Intermediate Java", id="python-intermediate-fullday",
          link="python-intermediate-fullday.html" ) }}  #}
         

          {# {{ p.class_row(
          name="Intermediate Java & Challenges", info="Enhance programming skills in Java
          and sharpen skills with practice projects",
          times="2 weeks, 9-4p", prereqs="Intro to Java",
          nextclass="Advanced Java & Algorithms", id="java-intermediate-fullday",
          link="java-intermediate-fullday.html" ) }} #}

        
          {{ p.class_row( name="Intermediate Python", info="Enhance programming
          skills in Python, continues in Spring", times="Thu:4.30-6p", fees="$400", 
          prereqs="Intro to Python", nextclass="Intermediate Python, Spring Session", id="python-intermediate",
          link="python-intermediate.html" ) }} 
         
          {{ p.class_row(
          name="Intermediate Java", info="Enhance programming skills in Java, continues in Spring",
          times="Sat: 10.30-noon", fees="$400", prereqs="Intro to Java",
          nextclass="Intermediate Java, Spring Session", id="java-intermediate",
          link="java-intermediate.html" ) }}

          {# {{ p.class_row( name="StartupLab", info="Learn Business/Tech skills", times="4 weeks, 9-noon", prereqs="grade 7+", nextclass="Inquire online",
          id="startuplab", link="startuplab.html" ) }}  #}


       {#     {{ p.class_row( name="Javascript &
          Modern App Development", info="Fundamentals of Javascript for
          web/mobile and server apps", times="Sat 10.30-noon", prereqs="Intro to
          Python or Intro to Java", nextclass="Intermediate Java or Intermediate
          Python", id="modern-web", link="modern-web.html" ) }} #}

        </div>
        <img
          src="images/rocket icon-01.png"
          style="width: 7em;/*! position: absolute; */float: right;margin-top: 1.25em;"
        />
        <h1 id="principles" style="font-weight: 900;">Innovators</h1>
        <h1
          style="font-size: 27px;margin-top: 0em;font-weight: 900;color: #7b7b7b;"
        >
          Grades 8+ | Advanced Computer Science |<a href="/schedule.html">
            Fall Schedule</a
          >
        </h1>
        <div class="container blue-3" style="padding-left:0px;">
          {{
          p.class_row( name="Intro to Programming", info="Begin with programming in Python",
          times="Wed: 4-5.30p", fees="$350", prereqs="None",
          nextclass="Intermediate Python", id="python-intro",
          link="python-intro.html" ) }}

         {{ p.class_row( name="Intro to
          Java", info="Begin programming in Java", times="Wed: 4.30-6p", fees="$400", prereqs="none", nextclass="Intermediate Java",
          id="java-intro", link="java-intro.html" ) }} 
    
          {{ p.class_row(
          name="Intermediate Java", info="Enhance programming skills in Java, continues in Spring",
          times="Sat: 10.30-noon", fees="$400", prereqs="Intro to Java",
          nextclass="Intermediate Java, Spring Session", id="java-intermediate",
          link="java-intermediate.html" ) }}

        </div>
          {# {{ p.class_row(
          name="Intermediate Java & Challenges", info="Enhance programming skills in Java and sharpen skills with 
          practice projects",
          times="2 weeks, 9-4p", prereqs="Intro to Java",
          nextclass="Advanced Java & Algorithms", id="java-intermediate-fullday",
          link="java-intermediate-fullday.html" ) }} #}
          
         {# {{ p.class_row( name="Intermediate Python & Challenges ", info="Enhance programming
          skills in Python and sharpen skills with practice projects", times="2 weeks, 9-4p",
          prereqs="Intro to Python", nextclass="Intro or Intermediate Java", id="python-intermediate-fullday",
          link="python-intermediate-fullday.html" ) }}  #}
{#           
          {{
          p.class_row( name="Advanced Java & Algorithms", info="Object oriented
          programming and APCS Prep", times="2 weeks, 1-4p",
          prereqs="Intermediate Java", nextclass="Inquire in person",
          id="java-advanced", link="java-advanced.html" ) }}

          {# {{ p.class_row( name="StartupLab", info="Learn Business/Tech skills", times="4 weeks, 9-noon", prereqs="grade 7+", nextclass="Inquire online",
          id="startuplab", link="startuplab.html" ) }} #}

          {# {{ p.class_row( name="Intro to Data Science", info="Data/Statistics/Machine Learning", times="10 weeks, 2-5p (Saturdays)", prereqs="grade 8+", nextclass="Data Science Project",
          id="datascience-intro", link="datascience-intro.html" ) }} #}


    {#     <div
          class="container blue-1"
          style="padding-bottom:30px; padding-left:0px;"
        >
          {{ p.class_coming( name="Intro to AI/ML (Advanced Python)", info="Data
          Science Fundamentals using Python", times="TBD", prereqs="Intermediate
          Python", nextclass="Intermediate Java" ) }}
          #}

<h2
          style="font-size: 27px;margin-top: 0em;font-weight: 900;color: #7b7b7b;"
        >
     <a href="https://bit.ly/Fall2020NewClassInterest_Techlab">Click here to Pre-register for NEW Classes</a>
        </h2>

<h2
          style="font-size: 27px;margin-top: 0em;font-weight: 900;color: #7b7b7b;"
        >
     <a href="/faq.html#cancellationPolicy">Class Refund and Cancellation Policy</a>
        </h2>
      
      
      
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %} {% include
    "payment_js.njk" %}
  </body>
</html>
