<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}
    <section class="page-title bg-8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">FAQ</h1>
                  <a
                href="https://lbtricvuobirgvexydwub-free.10to8.com"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 12px;font-weight: 900;border-radius: 5em"
                target="blank"
                >FREE CONSULTATION</a
              > 
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <section class="page-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 style="font-weight: bolder;">FREQUENTLY ASKED QUESTIONS</h2>
            <p>Updates for Online Camps</p>
            <p>Last updated: May 08, 2020</p>
          </div>
          <div class="col-md-8">
            <h4 style="font-weight: bolder;">
              What is Techlab's Teaching Philosophy?
            </h4>
            <p>
              Our core teaching philosophy focuses on nurturing learning in kids
              through self motivation and hands-on project work in small-size
              online experiences. We apply decades of real world professional
              experience in Silicon Valley and combine it with research in the
              science of learning. We have a well defined and rigorously
              developed curriculum to achieve outcomes working with students.
              Learn more about our <a href="curriculum.html">curriculum.</a>
            </p>
            <br />

            <h4 style="font-weight: bolder;">
              Will online camps follow the same curriculum as previous summer camps?
            </h4>
            <p>
            Yes, techlab online camps leverage the same content, tutor instructions, and best practices for 
            student learning we have used for the last 7+ years. 
            </p>
            <br/>

            <h4 style="font-weight: bolder;">
              What is your student to instructor ratio for online camps?
            </h4>
            <p>
              Typically we have 6-8 students per instructor. In some sessions the
              instructor may include a teaching assistant to help with coding or
              engineering projects.
            </p>
            <br />

            <h4 style="font-weight: bolder;">
              Who are your instructors and teaching assistants?
            </h4>
            <p>
              Our instructors are working professionals at high-tech
              companies(incl. Google, Intel, Oracle) and college students with
              Computer and engineering majors. Our staff is trained and we
              emphasize paying attention to each student's individualized
              learning needs. We also include teaching assistants in a few
              classes to assist instructors.
            </p>
            <br />
<h4 id="cancellationPolicy" style="font-weight: bolder;">
              What is Techlab's cancellation and refund policy?
            </h4>
            
            <p>
              All Programs:
            </p>
            <p>
              You have upto 2 weeks prior to the start of class sessions to
              cancel and receive a full refund. The refund will be issued
              through the same method used to pay for the class. 
              
            </p>
            <p>
              We have a minimum of 5 students needed to coordinate and conduct any class.
              Your fees will be fully refunded if techlab cancels or reschedules a class.
            </p>
            {# <p>
              School Year Programs:
            </p> #}
            {# <p>
              For semester long (12 week classes), we offer flexible 4-week
              subscription payments, which automatically renew every 4 weeks.
              All payments are due 4 weeks prior to start of any subscription
              period. To cancel your subscription, you have upto 4 weeks prior
              to start of session to email us and stop your subscription. We
              provide a significant discount for pre-paying for the whole
              semester (12 weeks). No refunds are available for pre-paid
              semester payments.
            </p> #}
            
            <b>
              We invest significant resources to hire & train qualified
              instructors and tutors. Our cancellation and refund policy allows
              us to ensure your students get the best training. </b>
            </p>
            <br />

 <h4 style="font-weight: bolder;">
              What are best practices for students to attend online camps from home?
            </h4>
            <p>
              Our team has done extensive research to find out what works best for your student. Here are our recommendations:
              <li> Make sure your student is in a quiet environment, preferably his/her own space or room with minimal distractions from TV, parents, siblings, pets.
              </li>
              <li> Make sure the student has a comfortable desk/chair setup </li>
              <li> Make sure the student’s computer (desktop/laptop) is easily accessible and ready to go</li>
              <li> When instructors ask them to share their work they should be prepared to share their screen and collaborate</li>
              <li> Plan ahead, students may have to download software (one-time only) depending on the class they are enrolled in</li>
              <li> We recommend the student does not eat/drink at the table (if possible). This can lead to spillage and/or unneeded distractions for the student.
              </li>
              <li> Ensure the lighting and temperature in the room is comfortable for the student to create a relaxed, 
              engaging and fun environment </li>

Have more tips from your own experiences? Drop us a note info@techlabeducation.com.

            </p>
            <br />

            <h4 style="font-weight: bolder;">
              How will the kids be engaged for half day and full day online camp sessions?
            </h4>
            <p>
              To keep the kids engaged we will be planning various activities, including 
brain teasers, puzzles, card IQ games, online pictionary, other, during frequent breaks. 
The students will have the option to participate w/ their fellow campers during these breaks. Our 
trained instructors will also participate, and moderate as needed. 
            </p>
            <br />
          
<h4 style="font-weight: bolder;">
              How about lunch break or snack breaks during online camps?
            </h4>
            <p>
              We will have a planned lunch session from 12-1pm, and students will
               be given snack breaks during morning and afternoon sessions. 

            </p>
            <br />

           

            <h4 style="font-weight: bolder;">
              Do you provide year around programs?
            </h4>
            <p>
              We have summer camps with morning/afternoon sessions, and year
              long after-school classes for grades 6 through high school.
            </p>
            <br />
            <h4 style="font-weight: bolder;">
              Can we continue with sessions after summer camps?
            </h4>
            <p>
              Our focus is to ensure continued learning through practice to
              grasp the fundamentals and build on skills. Our Fall and Spring
              sessions focus on school year learning. For our students, we offer
              a complementary evaluation session, to match learning tracks with
              student's knowledge and needs. Please email us at
              <a
                href="mailto:info@techlabeducation.com"
                style="font-weight:bold"
                >info@techlabeducation.com</a
              >
            </p>
            <br />
            <h4 style="font-weight: bolder;">
              What is your full year schedule?
            </h4>
            <p>
              Typically our summer programs run from June through August, Fall
              sessions start after labor day weekend in September and run
              through December. Spring sessions are from January through April.
              For current year schedule,
              <a href="/schedule.html" style="font-weight:bold">click here.</a>
            </p>
            <br />
            <h4 style="font-weight: bolder;">
              Do you offer any group discounts?
            </h4>
            <p>
              We believe kids learn best when they are in a group environment
              with motivated peers. Please inquire for group discounts for 5 or
              more student enrolling together.
            </p>
            <br />
            <h4 style="font-weight: bolder;">
              Need to customize learning for my student or group of students?
            </h4>
            <p>
              We believe in providing flexible learning paths for each student.
              {# We offer one-on-one and small group private tutoring. Including
              opportunity to engage in our
              <a href="startupLab.html" target="_blank">Startup Lab</a>
              workshops at Techlab. #}
            </p>
            <br />
            <
            <h4 style="font-weight: bolder;">
              What is your policy for missed classes?
            </h4>
            <p>
              For summer camps, please inquire with your instructor for missed classes. 
              Our summer camps are fast paced and we will try our best to work with your student to 
              make up for missed day/s. </p>

<p>
              For Fall/spring classes held once a week, if a student is going to miss her
              scheduled time, she can attend another class date offered during
              the same week, e.g. if Intro to Java student misses regular
              Tuesday (5-6.30p) class, she can attend the Sat (10.30-noon)
              class, by informing her instructor. For classes held twice a week,
              for missed class/es, the instructor will work with you to makeup
              and stay in sync with the class schedule.<a
                href="/schedule.html"
                style="font-weight:bold"
                >click here.</a
              >
            </p>
            <br />
          </div>
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %}
  </body>
</html>
