<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-7">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">we are hiring!</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="about section">-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center">
          <h2 class="mt-40" style="font-weight:bolder;">Join our Team</h2>
          <p>
            Now Recruiting talent for Silicon Valley’s top programming academy.
          </p>

          <p>
            Techlab Education (5-star rated on Yelp and Google Reviews) is
            looking for tutors, curriculum developers & marketeers. You should
            have a passion to work with kids to achieve their dreams. And work
            in a collaborative & energizing environment.
          </p>
          <p>Connect with us at info@techlabeducation.com.</p>
        </div>

        <div class="col-md-8">
          <div class="row">
            <h2 class="mt-40" style="font-weight:bolder;">Tutors</h2>
            Ideal Candidate will have:
            <li>
              Strong academic credentials & background in technology &
              programming
            </li>
            <li>
              Experience with Java, Python, Html, Javascript, maker
              (Pi/Robotics) skills
            </li>
            <li>Previous teaching experience will be a plus</li>
            <li>
              Fun, upbeat, can-do attitude with great communication skills
            </li>
            <li>
              Be willing to be mentored and trained in our unique teaching style
            </li>
            <p></p>

            <h2 class="mt-40" style="font-weight:bolder;">
              Digital Marketing Lead
            </h2>

            Candidate will:
            <li>
              Execute marketing campaigns to drive Techlab awareness and
              enrollment
            </li>
            <li>
              Drive social & email campaigns using Facebook, Instagram,
              Mailchimp, Youtube
            </li>
            <li>Assist in creating compelling campaign content</li>
            <li>
              Manage a team of summer interns (depends on candidate's
              experience)
            </li>
            <p></p>

            <h2 class="mt-40" style="font-weight:bolder;">
              Why work for techlab?
            </h2>

            <p class="card-text">
              <li>
                Dedicated and experienced team vested in kids education and
                learning (5-star yelp rating)
              </li>
              <li>Flexible work hours on weekday evenings and weekends</li>
              <li>
                <b>
                  Competitive tutor rates & comprehensive training and
                  professional development support
                </b>
              </li>
              <li>
                A+ team and strong network from IITs, Stanford, Berkeley,
                Google, Intel, Facebook & top bay area universities
              </li>
            </p>

            <p class="card-text">
              Connect: info@techlabeducation.com (send a brief bio, subject:
              instructor hiring)
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--</section> -->

    {% include "footer.njk" %} {% include "jsincludes.njk" %}
  </body>
</html>
