<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <!-- Slider Start -->
    <section class="slider" style="padding-top: 100px; padding-bottom: 70px;">
      <div class="container" style="padding-bottom: 100px;">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              {#
              <h1 class="animated fadeInUp">learning made fun for kids</h1>
              <h2
                class="animated fadeInUp"
                style="margin-top: 0px;margin-bottom:100px;"
              >
                coders, makers & leaders
              </h2>
              #}

              <h1 class="animated fadeInUp" style="margin-bottom: 0px;">
                Coders & Creators
              </h1>
              <h3
                class="animated fadeInUp"
                style="margin-top: 0px;margin-bottom:20px;font-size: 42px;font-weight: 900;color: #224360;"
              >
                Bay Area's #1 Tech Online Camp
              </h3>
              
            
              {# <a
                href="https://bit.ly/techlab_Summer2020"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 0px;font-weight: 900;border-radius: 5em;"
                target="blank"
                >Virtual Open House</a
              > #}
      

              <a
                href="/fall2020.html"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 0px;font-weight: 900;border-radius: 5em;"
                target="blank"
                >School Year Camps</a>

          {# <h3 style="color: white;font-weight: bolder;">
                  Proven curriculum, motivated seasoned instructors
                  
              </h3> #}
              {# <h3 style="color: white;font-weight: bolder;">
                  
                  Once-a-week Classes 
              </h3> #}
              {# <a
                href="https://lbtricvuobirgvexydwub-free.10to8.com"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 12px;font-weight: 900;border-radius: 5em"
                target="blank"
                >FREE CONSULTATION</a
              >  #}
            </div>
          </div>
        </div>
      </div>
      <img
        id="cover"
        src="images/cover_no_arrow.png"
        style="width:  50%;position: absolute;bottom: 0;right: 0;max-height: 460px;max-width: 720px;"
      />
      {# <img
        src="images/white triangle.png"
        style="width: 100%;position: absolute;height: 70px;"
      /> #}
    </section>
    <!-- Wrapper Start -->
    <section class="" style="background-color: white; padding: 2.5em 0 2.5em 0">
      <div class="container" style="padding-bottom: 6em">
        <div class="row class-box" style="position: relative;">
          <div class="col-md-4 col-sm-6">
            <center>
              <div class="service-item">
                <i style="font-size: 45px;">
                  <a href="summer.html#tynkerer">
                    <img
                      src="images/tynkerer icon-01.png"
                      style="width: 45%;padding-top: 20px;max-width: 162px;"
                    />
                  </a>
                </i>
                <h2 style="font-weight: bolder;">Tynkerers</h2>
                <p style="font-weight: bold; font-size: 23px;">Grade 5-6</p>
                <p style="font-size: 16px;">
                  Begin to think & create like a programmer
                </p>
                <a
                  href="summer.html#tynkerer"
                  class="btn btn-main animated fadeInUp"
                  style="background-color: #5cc6cf; color: #ffffff; margin-bottom: 35px;border-radius: 5em;font-weight: 900;"
                  >SEE MORE</a
                >
              </div>
            </center>
          </div>
          <div class="col-md-4 col-sm-6">
            <center>
              <div class="service-item">
                <i style="font-size: 45px;">
                  <a href="summer.html#foundation">
                    <img
                      src="images/hammer icon-01.png"
                      style="width: 45%;padding-top: 20px;max-width: 162px;"
                    />
                  </a>
                </i>
                <h2 style="font-weight: bolder;">Explorers</h2>
                <p style="font-weight: bold; font-size: 23px;">Grade 7-9</p>
                <p style="font-size: 16px;">
                  Develop your own games, mobile & web apps
                </p>
                <a
                  href="summer.html#foundation"
                  class="btn btn-main animated fadeInUp"
                  style="background-color: #5cc6cf; color: #ffffff; margin-bottom: 35px;border-radius: 5em;font-weight: 900;"
                  >SEE MORE</a
                >
              </div>
            </center>
          </div>
          <div class="col-md-4 col-sm-6">
            <center>
              <div class="service-item">
                <i style="font-size: 45px;">
                  <a href="summer.html#principles">
                    <img
                      src="images/rocket icon-01.png"
                      style="width: 45%;padding-top: 20px;max-width: 162px;"
                    />
                  </a>
                </i>
                <h2 style="font-weight: bolder;">Innovators</h2>
                <p style="font-weight: bold; font-size: 23px;">
                  Grade 8+
                </p>
                <p style="font-size: 16px;">
                  Design & develop engineering and coding projects
                </p>
                <a
                  href="summer.html#principles"
                  class="btn btn-main animated fadeInUp"
                  style="background-color: #5cc6cf; color: #ffffff; margin-bottom: 35px;border-radius: 5em;font-weight: 900;"
                  >SEE MORE</a
                >
              </div>
            </center>
          </div>
        </div>
      </div>
      <img
        src="images/line.png"
        style="width: 100%; position: absolute; height:2px;opacity: 0.3;"
      />
    </section>
    <!--section-->
    <section class="about section">
      <div
        class="container"
        style="padding: 2em; background-color: white; padding-bottom:8em;"
      >
        <div class="row">
          <div class="col-md-4" style="background-color: #fff;">
            <h2 class="section-subtitle" style="margin-top:0rem;">
              Leaders in 2030
            </h2>
            <p>
              Our mission is to help nurture and groom our student leaders for
              2030.
            </p>

            <p>
              We are passionate about nurturing makers, problem solvers &
              entrepreneurs.
            </p>
            <p>
              We work closely with students to make their dreams come true. We
              are
              <strong><a href="hiring.html" target="blank">HIRING</a></strong>
            </p>
          </div>
          <div class="col-md-4" style="background-color: #fff;">
            <h2 class="section-subtitle" style="margin-top:0rem;">
              Creativity
            </h2>
            <p>
              We spark creativity, interest in technology & life-long learning
              for all kids.
            </p>
            <p>
              We provide a collaborative platform for boys and girls who want to
              code, tinker and design.
            </p>
            <p>
              Learn more about our <a href="curriculum.html">curriculum.</a>
            </p>
          </div>
          <div class="col-md-4" style="background-color: #fff;">
            <h2 class="section-subtitle" style="margin-top:0rem;">
              Giving Back
            </h2>
            <p>
              We encourage giving back to our community through free events,
              hackathons, classes, and workshops.
            </p>
            <p>
              This summer solve a challenge for your community. Join our
              <a href=" /startupLab.html" target="_blank">StartupLab.</a>
            </p>
            <p>
              <a href="community.html">Learn more.</a>
            </p>
          </div>
        </div>
        <div class="row" style="margin-top:3rem">
          <center style="z-index: 3; position: relative;">
            <a
              href="portfolio.html"
              class="btn btn-main"
              style="width: 250px; font-size: 18px;padding: 15px; background-color: #5cc6cf; color: #fff;border-radius: 5em;font-weight: 700;"
              >OUR STUDENT GALLERY</a
            >
          </center>
        </div>
      </div>
      <img
        src="images/line.png"
        style="width: 100%; position: absolute; height:2px;opacity: 0.3;"
      />
    </section>
    <!-- Slider Start -->
    {#
    <section>
      <div class="section-title text-center" style="margin-bottom: 50px;">
        <h2 style="text-transform: none;">
          Located in the Heart of Silicon Valley
        </h2>
      </div>
      <img src="images/techlab map image.png" style="width:100%;" />
    </section>
    #}
    <!-- <section class="feature bg-2 overly2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="background-color: #fff; padding: 50px;">
        <h2 class="section-subtitle" style="margin-top:0rem;">ENCOURAGING CREATIVITY</h2>
        <p>Our mission is to make technology education accessible &#38; fun for all kids.  We provide hands-on training for boys and girls who want to learn, tinker and design.</p>
        <p>We are passionate about nurturing the next generation of entrepreneurs, makers, and problem solvers. Our tutors and founders work closely with students to make their dreams come true.</p>
        <a href="portfolio.html" class="btn btn-main" style="width: 250px; font-size: 15px;padding: 15px; background-color: #316698; color: #fff;">View Past Student Work</a>
      </div>
    </div>
  </div>
</section> -->

    <!-- Content Start -->
    <section class="testimonial" style="padding: 50px;">
      <div class="container">
        <div class="row">
          <div class="section-title text-center" style="margin-bottom: 50px;">
            <h2>TESTIMONIALS</h2>
            <p>Hear what others have to say about us</p>
            <p>
              Read our
              <a
                href="https://www.yelp.com/biz/techlab-education-san-jose"
                target="blank"
                >5-star reviews on Yelp</a
              >
            </p>
          </div>
        </div>
        <div style="display: flex; flex-wrap: wrap; justify-content: center">
          <!-- <div class="col-md-6 col-md-offset-3"> -->
          <!-- <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel"> -->

          <div style="width: 350px; padding: 20px; text-align: center;">
            <p style="font-size:18px">
              "The best of learning was that it was fun: building a hardware
              from scratch and then programming it to make it work!"
            </p>
            <div class="user">
              <p style="font-size:18px">
                <b>Student</b><br /><small>Grade 8</small>
              </p>
            </div>
          </div>

          <div style="width: 350px; padding: 20px; text-align: center;">
            <p style="font-size:18px">
              "My girls, my nephew and my nieces have all attended Techlab camps
              at various times and I have recommended it to several friends as
              well."
            </p>
            <div class="user">
              <p style="font-size:18px">
                <b>Parent</b><br /><small>Of Middle Schoolers</small>
              </p>
            </div>
          </div>

          <div style="width: 350px; padding: 20px; text-align: center;">
            <p style="font-size:18px">
              "It's not only a great place to learn programming, it is also a
              hub for kids to learn from each other."
            </p>
            <div class="user">
              <p style="font-size:18px">
                <b>Parent</b><br /><small
                  >Of Student attending Hackathons</small
                >
              </p>
            </div>
          </div>

          <div style="width: 350px; padding: 20px; text-align: center;">
            <p style="font-size:18px">
              "There's no other place quite like it, even in the tech friendly
              Bay Area."
            </p>
            <div class="user">
              <p style="font-size:18px">
                <b>Parent</b><br /><small>Of Student, Grade 6</small>
              </p>
            </div>
          </div>

          <div style="width: 350px; padding: 20px; text-align: center;">
            <p style="font-size:18px">
              "techlab was able to make programming accessible to even a
              computer-phobic person like me!"
            </p>
            <div class="user">
              <p style="font-size:18px">
                <b>Student</b><br /><small>Grade 10</small>
              </p>
            </div>
          </div>

          <div style="width: 350px; padding: 20px; text-align: center;">
            <p style="font-size:18px">
              "Tutors are patient, kind, and helpful!"
            </p>
            <div class="user">
              <p style="font-size:18px">
                <b>Student</b><br /><small>Grade 9</small>
              </p>
            </div>
          </div>
          <!-- 
          </div>
        </div> -->
          <!-- </div> -->
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %}
  </body>
</html>
