<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %} {% include "payment_css.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-9">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">Intro to 3D & Physics</h1>
              <a
                href="summer.html"
                class="btn btn-main animated fadeInUp"
                style="margin: 0px 25px 0px 0px;"
                >Summer Camps</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "payment_modal.njk" %}

    <!-- 
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <div class="block">
            <h4 style="font-weight: bolder;">GRADE: <p style="font-weight: normal; display: inline; font-size: 17px;">8th-12th</p></h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block">
          <h4 style="font-weight: bolder;">PREREQUISITE: <p style="font-weight: normal; display: inline; font-size: 17px;">NONE</p></h4>
        </div>
      </div>
    </div>
  </div>
</section> -->
    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/physics-CS.jpg"
                style="width:90%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h1 style="font-weight: bolder; margin: 0px;">
              Physics | Pre AP Physics
            </h1>
            <h4 style="font-weight: bolder;">
              Prepare for AP with Physics fundamentals
            </h4>
            <h5 style="font-weight: bolder; padding-bottom: 10px;">
              For:
              <p style="font-weight: normal; display: inline;">
                Students grades 8-11, interest in learning Physics for
                engineering and STEM
              </p>
              <p style="margin:10px;">No prior experience needed</p>
            </h5>
            <h5 style="font-weight: bolder;">TOPICS</h5>
            <p style="margin:0px;">
              <strong
                >Kinematics, Dynamics, Gravity, Energy, Momentum (week1)</strong
              >
            </p>
            <p style="margin:0px;">
              Simple Harmonic Motion, Electric Charge, DC Circuits, Mechanical
              Waves. Sound, Computational Physics (week 2)
            </p>
            <p></p>

            <p style="">
              <strong>
                Outcome: Students get prepared for AP Physics and learn concepts
                using experimentation and computational techniques
              </strong>
            </p>
            <p style="margin-bottom:10px;"><strong>Duration: 1 week</strong></p>
          </div>

          <div>
            <button
              class="btn btn-main enroll-button"
              data-for-class="physics"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
          </div>
          <div class="col-md-6">
            <h4 style="font-weight: bolder; color:#316698">
              Special summer session taught by MIT PhD student.
            </h4>
            <h5 style="font-weight: bolder; padding-bottom: 12px;">
              Physics is critical for STEM.
              <a href="http://techlab.education/wp-blog.html" target="blank"
                >Read a blog</a
              >
              by instructor Rahul Jayaraman.
            </h5>
            <h4
              style="font-weight: bolder;text-align:center;border:0.5px gray dashed;"
            >
              <a href="images/CurriculumPhysics.pdf"
                >Read details of Physics Curriculum</a
              >
            </h4>
          </div>
        </div>
      </div>
    </section>

    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/3D.jpg"
                style="width:90%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <h1 style="font-weight: bolder; margin: 0px;">
              Intro to 3D Modeling & Printing
            </h1>
            <h4 style="font-weight: bolder;">
              Learn 3D fundamentals and concepts
            </h4>
            <h5 style="font-weight: bolder; padding-bottom: 10px;">
              For:
              <p style="font-weight: normal; display: inline;">
                Students grades 6-8, interested in 3D for engineering, gaming,
                robotics, design
              </p>
              <p style="margin:10px;">No prior experience needed</p>
            </h5>
            <h5 style="font-weight: bolder;">TOPICS</h5>
            <p style="margin:0px;">
              <strong
                >Basics of CAD(Computer Aided Design), Design, Print material,
                3D model creation
              </strong>
            </p>
            <p></p>

            <p style="">
              <strong>
                Outcome: Students get introduced to modeling, designing, and
                printing in 3D
              </strong>
            </p>
            <p style="margin-bottom:10px;"><strong>Duration: 1 week</strong></p>

            <button
              class="btn btn-main enroll-button"
              data-for-class="3D"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <h4 style="font-weight: bolder; color:#316698">
            Special summer session
          </h4>
          <h4 style="font-weight: bolder; padding-bottom: 12px;">
            3D Modeling and Design is the Future. {#
            <a href="http://techlab.education/wp-blog.html" target="blank"
              >Read a blog</a
            >
            by instructor Rahul Jayaraman. #}
          </h4>
          <h3
            style="font-weight: bolder;text-align:center;border:0.5px gray dashed;"
          >
            <a href="images/Curriculum3D.pdf">Read details of 3D Curriculum</a>
          </h3>
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %} {% include
    "payment_js.njk" %}
  </body>
</html>
