<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">
                Our Student's Latest Projects
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Start -->
    <section class="portfolio-work">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                  <li class="filter" data-filter="all">All</li>
                  <li class="filter" data-filter=".Branding">Programming</li>
                  <li class="filter" data-filter=".Websites">Design</li>
                  <li class="filter" data-filter=".Graphic">Maker</li>
                </ul>
              </div>
              <div class="portfolio-contant">
                <ul
                  class="portfolio-contant-active text-center portfolio-popup"
                >
                  <li class="mix Branding">
                    <a
                      class="portfolio-popup"
                      href="images/portfolio/turtle-race.jpg"
                    >
                      <img src="images/portfolio/turtle-race.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Turtle Race</h4>
                          <p>Python, Grade 6</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Branding">
                    <a
                      class="portfolio-popup"
                      href="images/portfolio/blueFlowers.jpg"
                    >
                      <img src="images/portfolio/blueFlowers.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Blue Flowers</h4>
                          <p>Python & Design, Grade 8</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Branding">
                    <a
                      class="portfolio-popup"
                      href="images/portfolio/conwaygameofLife.gif"
                    >
                      <img src="images/portfolio/conwaygameofLife.gif" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">
                            Conway Game of Life
                          </h4>
                          <p>Java & Algorithms, Grade 10</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Branding">
                    <a
                      class="portfolio-popup"
                      href="images/portfolio/flappy.gif"
                    >
                      <img src="images/portfolio/flappy.gif" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Flappy</h4>
                          <p>Python & Games, Grade 7</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Branding">
                    <a
                      class="portfolio-popup"
                      href="images/portfolio/towerofHanoi.jpg"
                    >
                      <img src="images/portfolio/towerofHanoi.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Tower of Hanoi</h4>
                          <p>Python & Critical Thinking, Grade 8</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Branding">
                    <a class="portfolio-popup" href="images/portfolio/pong.gif">
                      <img src="images/portfolio/pong.gif" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Pong</h4>
                          <p>Java & Games, Grade 9</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Branding">
                    <a
                      class="portfolio-popup"
                      href="images/portfolio/pacman.jpg"
                    >
                      <img src="images/portfolio/pacman.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Pacman</h4>
                          <p>Python & Games, Grade 6</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <!-- Maker Projects Start -->

                  <li class="mix Graphic">
                    <a href="images/portfolio/autonomous_car.jpg">
                      <img src="images/portfolio/autonomous_car.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Autonomous Car</h4>
                          <p>Maker, Grade 8</p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="images/portfolio/Binary_Counter.jpg">
                      <img src="images/portfolio/Binary_Counter.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Binary Counter</h4>
                          <p>Maker, Grade 6</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Graphic">
                    <a href="images/portfolio/Dancing_Robot.jpg">
                      <img src="images/portfolio/Dancing_Robot.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">
                            Dancing Dancing_Robot
                          </h4>
                          <p>Maker, Grade 8</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Graphic">
                    <a href="images/portfolio/laser_Tripwire.jpg">
                      <img src="images/portfolio/laser_Tripwire.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Laser TripWire</h4>
                          <p>Maker, Grade 7</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Graphic">
                    <a href="images/portfolio/Plant_Irrigation_System.jpg">
                      <img
                        src="images/portfolio/Plant_Irrigation_System.jpg"
                        alt=""
                      />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">
                            Plant Irrigation System
                          </h4>
                          <p>Maker, Grade 9</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Graphic">
                    <a href="images/portfolio/portable-computerPi.jpg">
                      <img
                        src="images/portfolio/portable-computerPi.jpg"
                        alt=""
                      />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">
                            Portable Pi Computer
                          </h4>
                          <p>Maker, Grade 9</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Graphic">
                    <a href="images/portfolio/googleAIY.jpg">
                      <img src="images/portfolio/googleAIY.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">
                            Google AIY Voice Kit
                          </h4>
                          <p>Maker, Grade 9</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <!-- Design Projects -->
                  <li class="mix Websites">
                    <a href="images/portfolio/loopsArt.jpg">
                      <img src="images/portfolio/loopsArt.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Loops Art</h4>
                          <p>Python & Design, Grade 7</p>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li class="mix Websites">
                    <a href="images/portfolio/rainbow-java.jpg">
                      <img src="images/portfolio/rainbow-java.jpg" alt="" />
                      <div class="item-overly">
                        <div class="position-center">
                          <h4 style="font-weight: bolder;">Rainbow Art</h4>
                          <p>Java & Design, Grade 7</p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %}
  </body>
</html>
