<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %} {% include "payment_css.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">Coding</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "payment_modal.njk" %}
    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <!-- <h4>
              Programming made fun & intuitive way. From beginners to high schoolers getting ready for APCS, college,
              and more.
          </h4> -->
            </div>
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/java-classroom.jpg"
                style="width:100%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="block">
              <h1 style="font-weight: bolder; margin: 0px;">Java</h1>
              <h4 style="font-weight: bolder;">
                <a href="images/JavaCourseworkSummer2019.pdf"
                  >Read details of Java Curriculum</a
                >
              </h4>
              <h4 style="font-weight: bolder;">Intro Level</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  First time Java learners, grades 7-11,
                  <strong>No prior experience needed</strong>
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong>Logical thinking, data types, functions</strong>
              </p>
              <p style="">
                Outcome: Students can independently develop a fully functional
                java app
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 1 week</strong>
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="programming"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>

              <hr style="background-color:#a9a9a9" />

              <h4 style="font-weight: bolder;">Intermediate Level</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  Java explorerers, grades 7-11,
                  <strong>Pre-requisite: Intro to Java</strong>
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong>Classes, Object-oriented programming</strong>
              </p>
              <p style="">
                Outcome: Students can independently develop a fully functional
                multi-class app and game
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 2 weeks</strong>
              </p>
              <button
                class="btn btn-main enroll-button"
                data-for-class="programming-advanced"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>

              <hr style="background-color:#a9a9a9" />

              <h4 style="font-weight: bolder;">Advanced Level</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  Serious Java learners, grades 8-11,
                  <strong>Pre-requisite: Intermediate Java</strong>
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;"><strong>Algorithms and more</strong></p>
              <p style="">
                Outcome: Students independently develop fully functional apps
                and games; are prepared for APCS in high school
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 2 weeks</strong>
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="programming-advanced"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <div class="block">
            <h4 style="font-weight: bolder;">GRADE: <p style="font-weight: normal; display: inline; font-size: 17px;">5th-7th</p></h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block">
          <h4 style="font-weight: bolder;">PREREQUISITE: <p style="font-weight: normal; display: inline; font-size: 17px;">NONE</p></h4>
        </div>
      </div>
    </div>
  </div>
</section> -->
    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <img
                class="expandedimage"
                src="images/class%20images/python-code.jpg"
                style="width:100%;"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="block">
              <h1 style="font-weight: bolder; margin: 0px;">Python</h1>
              <h4 style="font-weight: bolder;">
                <a href="images/PythonCourseworkSummer2019.pdf"
                  >Read details of Python Curriculum</a
                >
              </h4>

              <h4 style="font-weight: bolder;">Intro Level</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  First time programmers, grades 6-11,
                  <strong>No prior experience needed</strong>
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong
                  >Logical thinking, data types, functions. loops,
                  conditionals</strong
                >
              </p>
              <p style="">
                Outcome: Students can independently develop a fully functional
                python project
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 1 week</strong>
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="programming"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>

              <hr style="background-color:#a9a9a9" />

              <h4 style="font-weight: bolder;">Intermediate Level</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  Python explorerers, grades 7-11,
                  <strong>Pre-requisite: Intro to Python</strong>
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong>Strings, Arrays, Data Analysis</strong>
              </p>
              <p style="">
                Outcome: Students can independently develop a fully functional
                python game and develop proficiency to explore AI/ML
              </p>

              <p style="margin-bottom:20px;">
                <strong>Duration: 2 weeks</strong>
              </p>
            </div>
            <button
              class="btn btn-main enroll-button"
              data-for-class="programming-advanced"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
            <hr style="background-color:#a9a9a9" />
          </div>
        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %} {% include
    "payment_js.njk" %}
  </body>
</html>
