<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %} {% include "payment_css.njk" %}
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">Coding</h1>
              <h1 style="font-weight: bolder;">
                Rated #1 in Bay Area for Java
              </h1>
              <a
                href="summer.html"
                class="btn btn-main animated fadeInUp"
                style="margin: 0px 25px 0px 0px;"
                >Summer Camps</a
              >
              {#
              <a
                href="https://www.facebook.com/pg/techlabeducation/events/?ref=page_internal"
                class="btn btn-main animated fadeInUp"
                style="margin: 0px 25px 0px 0px;"
                target="blank"
                >open house</a
              >
              #} {#
              <a
                href="https://10to8.com/book/lbtricvuobirgvexydwub-free/?utm_source=HomePage&utm_medium=Web&utm_campaign=mar2019"
                class="btn btn-main animated fadeInUp"
                >free consult</a
              >
              #}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "payment_modal.njk" %}
    <section class="section" style="background-color: #fafafa">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <h1 style="font-weight: bolder; margin: 0px;">Java</h1>
              <h4 style="font-weight: bolder;">Intro</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong
                    >First time Java learners, grades 8+, No prior experience
                    needed</strong
                  >
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong
                  >Algorithmic thinking, logic and looping, methods</strong
                >
              </p>
              <p style="">
                <strong
                  >Outcome: Students can independently develop a fully
                  functional java program</strong
                >
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 1 week, Starting 6/10</strong>
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="programming"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;margin:0px 10px 0px 0px;"
              >
                ENROLL
              </button>
              {#
              <button
                class="btn btn-main enroll-button"
                style="background-color:#316698; color:#fff; font-size: 16px; width:150px;padding:7px;"
              >
                Read More
              </button>
              #}

              <hr style="border-top: 1px dashed #8c8b8b" />

              <h4 style="font-weight: bolder;">Intermediate</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong
                    >Java explorerers, grades 8+, Pre-requisite: Intro to
                    Java</strong
                  >
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong
                  >Object-oriented programming, Arrays & ArrayLists as Data
                  Structures</strong
                >
              </p>
              <p style="">
                <strong
                  >Outcome: Students can independently develop a multi-class app
                  and game</strong
                >
              </p>
              <p style="margin-bottom:20px;">
                <strong
                  >Duration: 2 weeks, Alternate weeks starting 6/10</strong
                >
              </p>
              <button
                class="btn btn-main enroll-button"
                data-for-class="programming-advanced"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>

              <hr style="border-top: 1px dashed #8c8b8b" />

              <h4 style="font-weight: bolder;">Advanced (APCS Prep)</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong
                    >Serious Java learners, grades 8+, Pre-requisite:
                    Intermediate Java</strong
                  >
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong
                  >Polymorphism, Search, Sort, Recursion & complexity of
                  Algorithms</strong
                >
              </p>
              <p style="">
                <strong
                  >Outcome: Students are prepared for APCS & hackathons</strong
                >
              </p>
              <p style="margin-bottom:20px;">
                <strong
                  >Duration: 2 weeks, Alternate weeks starting 6/10</strong
                >
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="programming-advanced"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>

              <hr style="border-top: 1px dashed #8c8b8b" />

              <h4 style="font-weight: bolder;">Full Day: Intro & Challenges</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong
                    >Beginner Java learners, grades 8+, Pre-requisite:
                    None</strong
                  >
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong>Concepts and challenge projects</strong>
              </p>
              <p style="">
                <strong
                  >Outcome: Students learn fundamentals and develop functional
                  projects</strong
                >
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 1 week, 9-4 pm</strong>
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="java-intro-challenge"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>

              <hr style="border-top: 1px dashed #8c8b8b" />

              <h4 style="font-weight: bolder;">
                Full Day: Intermediate/Advanced & Challenges
              </h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong
                    >Experienced Java coders, grades 8+, Pre-requisite: Intro or
                    Intermediate Java</strong
                  >
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong>Concepts and challenge projects</strong>
              </p>
              <p style="">
                <strong
                  >Outcome: Students learn advanced concepts and are challenged
                  for APCS</strong
                >
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 2 weeks, 9-4 pm</strong>
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="java-advanced-challenge"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>
            </div>

            <h4
              style="font-weight: bolder;text-align:center;border:0.5px gray dashed;"
            >
              <a href="images/CurriculumJava.pdf"
                >Read details of Java Curriculum</a
              >
            </h4>
          </div>

          <div class="col-md-6">
            <div class="block">
              <h1 style="font-weight: bolder; margin: 0px;">Python</h1>

              <h4 style="font-weight: bolder;">Intro</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong
                    >First time programmers, grades 6+, No prior experience
                    needed</strong
                  >
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong
                  >Logical thinking, data types, functions. loops,
                  conditionals</strong
                >
              </p>
              <p style="">
                <strong
                  >Outcome: Students can independently develop a fully
                  functional python project</strong
                >
              </p>
              <p style="margin-bottom:20px;">
                <strong>Duration: 1 week, Every week starting 6/10</strong>
              </p>

              <button
                class="btn btn-main enroll-button"
                data-for-class="programming"
                style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
              >
                ENROLL
              </button>

              <hr style="border-top: 1px dashed #8c8b8b" />

              <h4 style="font-weight: bolder;">Intermediate</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong
                    >Python explorers, grades 6+, Pre-requisite: Intro to
                    Python</strong
                  >
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="margin:0px;">
                <strong
                  >Advanced data types, Strings, Arrays, Nested Loops,
                  Recursion</strong
                >
              </p>
              <p style="">
                <strong
                  >Outcome: Students develop a python game with basics of
                  AI/ML</strong
                >
              </p>

              <p style="margin-bottom:20px;">
                <strong
                  >Duration: 2 weeks, Alternate weeks starting 6/10</strong
                >
              </p>
            </div>
            <button
              class="btn btn-main enroll-button"
              data-for-class="programming-advanced"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
            <hr
              style="background-color:#000000; border-top: 1px solid #8c8b8b"
            />
          </div>
          <div class="col-md-6">
            <div class="block">
              <h4 style="font-weight: bolder;">
                Full Day: Python & Mobile Apps
              </h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong>grades 6+, No prior experience needed</strong>
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="">
                <strong>Intro to Python + Build your first mobile app</strong>
              </p>
              <p style="">
                Learn python and develop a fully functional project
              </p>
              <p style="">Design and develop your first mobile app</p>
              <p style="margin-bottom:10px;">
                <strong>Duration: 1 week, 9-4 pm</strong>
              </p>
            </div>

            <button
              class="btn btn-main enroll-button"
              data-for-class="pythonDesigner"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>
            <hr
              style="background-color:#000000; border-top: 1px solid #8c8b8b"
            />

            <div class="block">
              <h4 style="font-weight: bolder;">Full Day: Python & Maker</h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                For:
                <p style="font-weight: normal; display: inline;">
                  <strong>grades 6+, No prior experience needed</strong>
                </p>
              </h5>
              <h5 style="font-weight: bolder;">TOPICS</h5>
              <p style="">
                <strong
                  >Intro to Python + Build your own Arduino project</strong
                >
              </p>
              <p style="">
                Learn python and develop a fully functional project
              </p>
              <p style="">Solve a real world problem with Arduino & sensors</p>
              <p style="margin-bottom:10px;">
                <strong>Duration: 1 week, 9-4 pm</strong>
              </p>
            </div>
            <button
              class="btn btn-main enroll-button"
              data-for-class="pythonMaker"
              style="background-color:#316698; color:#fff; font-size: 16px; width:200px;padding:7px;"
            >
              ENROLL
            </button>

            <h4
              style="font-weight: bolder;text-align:center;border:0.5px gray dashed;"
            >
              <a href="images/CurriculumPython.pdf"
                >Read details of Python Curriculum</a
              >
            </h4>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <div class="block">
            <h4 style="font-weight: bolder;">GRADE: <p style="font-weight: normal; display: inline; font-size: 17px;">5th-7th</p></h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block">
          <h4 style="font-weight: bolder;">PREREQUISITE: <p style="font-weight: normal; display: inline; font-size: 17px;">NONE</p></h4>
        </div>
      </div>
    </div>
  </div>
-->

    {% include "footer.njk" %} {% include "jsincludes.njk" %} {% include
    "payment_js.njk" %}
  </body>
</html>
