{% import "payment_mixins.njk" as p %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    {% include "head_includes.njk" %} {% include "payment_css.njk" %}

    <style>
      .spanned-header {
        writing-mode: sideways-lr;
        text-orientation: mixed;
      }
      th {
        line-break: loose;
      }
    </style>
  </head>

  <body id="body">
    {% include "navbar.njk" %}

    <section class="page-title bg-6">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 style="font-weight: bolder;">Summer 2020 Schedule</h1>
              <a
                href="/summer.html"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 0px;font-weight: 900;border-radius: 5em;"
                >Fall 2020 Schedule</a>
                 
              <h3>
                Covid-19 Update: We are currently conducting camps online
              </h3>
              {# <a
                href="https://bit.ly/techlabsummer"
                class="btn btn-main animated fadeInUp"
                style="margin: 0px 25px 0px 0px;"
                target="blank"
                >Summer 2020 Survey</a
              > #}
            {# <a
                href="https://lbtricvuobirgvexydwub-free.10to8.com"
                class="btn btn-main animated fadeInUp"
                style="margin: 3px 12px 3px 12px;font-weight: 900;border-radius: 5em"
                target="blank"
                >FREE CONSULTATION</a
              >  #}

            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "payment_modal.njk" %}

    <section style="padding: 10px">
      <div style="text-align: center;">
        <div
          style="display: flex; align-items: center; flex-direction: column;"
        >

<section style="padding: 10px">

      <div style="text-align: center;">
        <div
          style="display: flex; align-items: center; flex-direction: column;"
        >

          <h4>Fall Session (11 Weeks)</h4>
          <table
            class="table table-bordered table-striped"
            style="max-width: 800px"
          >
            <thead>
              <tr>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th></th>
                <th>
                  Starts Sep 8, 2020
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th rowspan="5" class="spanned-header">
                  Weekly Classes
                </th>

                <th>
                  Intro to Mobile Apps 
                </th>
                <td>
                  Tuesdays, 4.30-6pm
                </td>
              
              </tr>

                <th>
                  Intro to Python 
                </th>
                <td>
                  Wednesdays, 4.30-6pm
                </td>
              
              </tr>
               <th>
                  Intro to Java 
                </th>
                <td>
                  Wednesdays, 4.30-6pm
                </td>
              
              </tr>

                <th>
                  Intermediate Python 
                </th>
                <td>
                  Thursdays, 10.30-noon
                </td>
      
   </tr>
              <th>
                  Intermediate Java 
                </th>
                <td>
                  Saturdays, 10.30-noon
                </td>
              
           
      </tbody>
      </table>


        </div>
      </div>
    </section>
  

          <h4>Fall Session Weeks</h4>
          Week 1: Sep 8-12 <br>
          Week 2: Sep 14-19 <br>
          Week 3: Sep 21-26 <br>
          Week 4: Sep 28-Oct 3 <br>
          Week 5: Oct 5-10  <br>
          Week 6: Oct 12-17 <br>
          Week 7: Oct 19-24 <br>
          Week 8: Oct 26-31<br>
          Week 9: Nov 2-7<br>
          Week 10: Nov 9-14<br>
          Week 11: Nov 16-21<br>

<h4>* Spring Session starts on Jan 11, 2021</h4>

        </div>
      </div>
    </section>

    {% include "footer.njk" %} {% include "jsincludes.njk" %} {% include
    "payment_js.njk" %}
  </body>


</html>
