{% set background = "bg-6" %}
{% set class_title = "APCS BootCamp" %}
{% set grades = "9+" %}
{% set image_url = "/images/class%20images/python-code.jpg" %}
{% set class_id="apcs-prep" %}

{% extends "class_info.njk" %}

{% block prereqs %}
<li>Intro to Java, Intermediate & Advanced Java</li>
{% endblock %}

{% block main %}
{{ super() }}
<p>
What you will learn: 
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Practice with timed tests and exercises for APCS Exam in May </li>
<li>Review and discuss efficient ways to solve problems</li>
<li>Learn to be time-efficient with free response & multiple choice questions</li>
<li>Learn to avoid common mistakes </li>
<li>Review and refresh complex Java topics like polymorphism and inheritance</li>
</ul>
</p>
<p>
Instructors:
<p><b> Nandini Thakur & Ronak Pai</b>
</p>
<p>
Nandini and Ronak, seniors in Saratoga High, scored a perfect score in the APCS exam last year and were nationally recognized. 
They are seasoned Techlab tutors and have previously taught Java classes. 
</p>

<p>
<b>Class Duration:</b> 4 weeks, once a week for 2 hours </p>
<p>
<b>Fees:</b> $200 </p> 
<p> Timing: Mondays, 4-6pm at Techlab </p>
<p><b> Dates:</b> Mar 30, April 13, April 20, April 27  </p>  

<p>
Limited Seats, First come, First Served Basis
</p>
<p>
This is a special Bootcamp for high schoolers taking the APCS exam in May, no cancellations after signing up
</p>
{% endblock %}