{% set background = "bg-6" %}
{% set class_title = "Intro to Data Science" %}
{% set grades = "8+" %}
{% set image_url = "/images/datascience-intro.png" %}
{% set class_id="datascience-intro" %}

{% extends "class_info.njk" %}

{% block prereqs %}
<li>Intermediate Python</li>
{% endblock %}

{% block next_class %}
<li>Data Science Project</li>
{% endblock %}

{% block main %}
{{ super() }}
<p>
From self-driving cars to COVID-19 diagnoses, data science and AI/ML applications have grown from hot 
startup topics to essentials in our society. This introductory data science course aims to expose and 
prepare students for this new normal with hands-on learnings.
</p>
<p>
Outcome:
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Students develop strong intuitions for working with data and how to solve problems using data science</li>
<li> Students can independently develop a machine learning project with our supervision</li>
</ul>
</p>

<p>
This bootcamp has 2 modules, each one focusing on the essential building blocks of Data Science Learning.
</p>
<p> 
<b>
Module 1 </b>  </p>
<p>
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Learn the fundamentals of data and statistics</li>
<li> Coding in python to animate an abstract subject like statistics</li>
<li> Activate <i> data science intuitions</i> for problem solving 
</ul>
</p>
<p> <b>
Module 2 </b> </p>
<p> 
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Learn machine learning algorithms including regression/classification</li>
<li> Core concepts like supervised/unsupervised learning, train/test/validate </li>
<li> Build and develop end-to-end machine learning models using Python ML packages </li>
</ul>
</p>
<p> 
After the bootcamp, interested students will be encouraged to create their final projects where they take 
an real-life data sets (e.g. Covid data) and build a machine learning project on their own with our supervision.
</p>

<p><b>
Instructors:
</b>
<p>
<b>Eric Hsieh</b> is a practicing Data Scientist at a leading Silicon Valley company. His passion is in using the
power of data and AI/ML algorithms to solve complex IoT and energy problems. Eric received his formal education 
from the University of Michigan at Ann Arbor and he actively participates in Data Science research and 
development in the industry.
</p>
<p> 
<b>Raj Pai</b> has decades of experience in Silicon Valley, working on big data/AI/ML applications with 
industry leaders including Intel, Teradata, Google and NASA. He is passionate about working with 
student innovators who will shape our future. 
</p>
 
<p>
<b>Bootcamp Duration:</b> 10 weeks, meets Saturdays 2-5 pm</p>
<p>
<b>Tuition:</b> $1000</p>

<p> 
First bootcamp session starts on June 13, we fill in spots on a <i>first-come, first-served basis</i>.</p>

<p>
To learn more drop us a note at info@techlabeducation.com or come talk to us at our 
<a href="https://bit.ly/techlab_Summer2020">Open House</a>
</p>

{% endblock %}