{% set background = "bg-6" %}
{% set class_title = "Intro to Java" %}
{% set grades = "5+" %}
{% set image_url = "/images/class%20images/python-code.jpg" %}
{% set class_id="java-intro" %}

{% extends "class_info.njk" %}

{% block prereqs %}
<li>None</li>
{% endblock %}

{% block next_class %}
<li>Intermediate Java</li>
{% endblock %}

{% block main %}
{{ super() }}
<p>
Topics Covered: 
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Logical & Analytical thinking </li>
<li> Writing pseudo-code and implementing in Java</li>
<li> Data types, logic and looping, methods</li>
</ul>
</p>
<p>
Outcome:
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Students can independently develop a fully functional Java project</li>
</ul>
</p>
{# <p>
Class Duration: 12 weeks, once a week for 1.5 hours </p>
<p>
Tuition: $630 (full semester, pre-paid) or
 $240 paid in 3 installments
 </p> #}
<p>
<a href="/images/CurriculumJava.pdf">Java Curriculum Details</a>
</p>
<p>
<a href="/faq.html#cancellationPolicy">Class Refund and Cancellation Policy</a>
</p>
{% endblock %}