{% set background = "bg-6" %}
{% set class_title = "Programming Practice & Challenge" %}
{% set grades = "6+" %}
{% set image_url = "/images/sewable.jpg" %}
{% set class_id="challenge" %}

{% extends "class_info.njk" %}

{% block prereqs %}
<li>None</li>
{% endblock %}

{% block next_class %}
<li>None</li>
{% endblock %}

{% block main %}
{{ super() }}
<h1 style="font-weight: bolder; margin: 0px;">
                Java Intro Challenge
              </h1>
              <h4 style="font-weight: bolder;">
                For techlab Java program students at Intro level
              </h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                <strong>Students from other Java programs welcome</strong>
              </h5>
              <h5 style="font-weight: bolder;">
                <a href="#problemsets">Problem Sets & Projects</a>
              </h5>
              <p style="margin:0px;">
                <strong
                  >Core concepts reinforced through fun and challenging practice
                  projects</strong
                >
              </p>
              <p style="">
                Outcome: Sharpen your Java skills through hands-on practice and
                discussions
              </p>

              <h1 style="font-weight: bolder; margin: 0px;">
                Java Advanced Challenge
              </h1>
              <h4 style="font-weight: bolder;">
                For techlab Java program students at Intermediate/Advanced level
              </h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                <strong>Students from other Java programs welcome</strong>
              </h5>
              <h5 style="font-weight: bolder;">
                <a href="#problemsets">Problem Sets & Projects</a>
              </h5>
              <p style="margin:0px;">
                <strong
                  >Core concepts reinforced through fun and challenging practice
                  projects</strong
                >
              </p>
              <p style="">
                Outcome: Sharpen your Java skills through hands-on practice and
                discussions
              </p>

<h1 style="font-weight: bolder; margin: 0px;">
                Python Challenge
              </h1>
              <h4 style="font-weight: bolder;">
                For techlab Python program students
              </h4>
              <h5 style="font-weight: bolder; padding-bottom: 10px;">
                <strong>Students with prior Python experience welcome</strong>
              </h5>
              <h5 style="font-weight: bolder;">
                <a href="#problemsets">Projects</a>
              </h5>
              <p style="margin:0px;">
                <strong>Core concepts review & fun practice projects.</strong>
              </p>
              <p style="">
                Outcome: Sharpen your Python and data skills through hands-on
                practice and discussions
              </p>

                <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <h4 style="font-weight: bolder;" id="problemsets">
                Sample Projects (Java & Python)
              </h4>
              <div class="block">
                <p>Image Gallery</p>
                <p>Airline/Hotel Reservation system</p>
                <p>Pascal's Triangle</p>
                <p>Flower Shop Ordering To Go</p>
                <p>Basic encryption program (cybersecurity)</p>
                <p>Sierpinski triangle/carpet</p>
                <p>Text-based adventure game</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="block">
              <h4 style="font-weight: bolder;">
                Why muscle memory coding projects?
              </h4>
              <div class="block">
                <p>
                  Students learn & practice through projects by coding/debugging
                </p>
                <p>Be curious and ask questions about what you have learned</p>
                <p>
                  Work with instructors/mentors/peers in a classroom setting
                </p>
                <p>Participate in hackathon-style challenges & competitions</p>
              </div>
            </div>
          </div>
        </div>
      </div>


<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc. Diam maecenas ultricies mi eget mauris pharetra. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat. Sed turpis tincidunt id aliquet risus feugiat in ante metus. Sem integer vitae justo eget magna fermentum iaculis eu. Elit pellentesque habitant morbi tristique senectus. Nunc non blandit massa enim nec dui nunc. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. A pellentesque sit amet porttitor eget dolor. Duis ultricies lacus sed turpis tincidunt id. Donec pretium vulputate sapien nec. Integer eget aliquet nibh praesent tristique magna sit amet.
</p>
<p>
Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. In est ante in nibh. Quisque id diam vel quam elementum pulvinar. Libero id faucibus nisl tincidunt eget nullam non nisi. In ante metus dictum at tempor commodo ullamcorper. Tellus integer feugiat scelerisque varius morbi enim. Pellentesque massa placerat duis ultricies lacus. Mauris cursus mattis molestie a iaculis at erat. Duis at tellus at urna condimentum mattis pellentesque id. Tincidunt id aliquet risus feugiat in ante metus dictum at. Euismod elementum nisi quis eleifend quam adipiscing vitae. Etiam erat velit scelerisque in dictum non consectetur. Nisl nunc mi ipsum faucibus. Senectus et netus et malesuada fames. Morbi leo urna molestie at elementum eu facilisis.
</p>
<p>
Imperdiet nulla malesuada pellentesque elit eget. Neque gravida in fermentum et sollicitudin ac. Eget duis at tellus at urna condimentum. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Diam ut venenatis tellus in metus. Sit amet facilisis magna etiam tempor. Porta non pulvinar neque laoreet suspendisse interdum. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Mauris a diam maecenas sed enim ut sem viverra. Nulla pharetra diam sit amet. Duis convallis convallis tellus id interdum.
</p>
{% endblock %}



