{% set background = "bg-6" %}
{% set class_title = "Intro to AI/ML (Python)" %}
{% set grades = "5+" %}
{% set image_url = "/images/sewable.jpg" %}
{% set class_id="python-advanced" %}

{% extends "class_info.njk" %}

{% block prereqs %}
<li>None</li>
{% endblock %}

{% block next_class %}
<li>None</li>
{% endblock %}

{% block main %}
{{ super() }}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc. Diam maecenas ultricies mi eget mauris pharetra. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat. Sed turpis tincidunt id aliquet risus feugiat in ante metus. Sem integer vitae justo eget magna fermentum iaculis eu. Elit pellentesque habitant morbi tristique senectus. Nunc non blandit massa enim nec dui nunc. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. A pellentesque sit amet porttitor eget dolor. Duis ultricies lacus sed turpis tincidunt id. Donec pretium vulputate sapien nec. Integer eget aliquet nibh praesent tristique magna sit amet.
</p>
<p>
Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. In est ante in nibh. Quisque id diam vel quam elementum pulvinar. Libero id faucibus nisl tincidunt eget nullam non nisi. In ante metus dictum at tempor commodo ullamcorper. Tellus integer feugiat scelerisque varius morbi enim. Pellentesque massa placerat duis ultricies lacus. Mauris cursus mattis molestie a iaculis at erat. Duis at tellus at urna condimentum mattis pellentesque id. Tincidunt id aliquet risus feugiat in ante metus dictum at. Euismod elementum nisi quis eleifend quam adipiscing vitae. Etiam erat velit scelerisque in dictum non consectetur. Nisl nunc mi ipsum faucibus. Senectus et netus et malesuada fames. Morbi leo urna molestie at elementum eu facilisis.
</p>
<p>
Imperdiet nulla malesuada pellentesque elit eget. Neque gravida in fermentum et sollicitudin ac. Eget duis at tellus at urna condimentum. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Diam ut venenatis tellus in metus. Sit amet facilisis magna etiam tempor. Porta non pulvinar neque laoreet suspendisse interdum. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Mauris a diam maecenas sed enim ut sem viverra. Nulla pharetra diam sit amet. Duis convallis convallis tellus id interdum.
</p>
{% endblock %}