{% set background = "bg-6" %}
{% set class_title = "Intro to Python & Mobile Apps: Full Day Camp" %}
{% set grades = "5+" %}
{% set image_url = "/images/class%20images/python.jpg" %}
{% set class_id="python-intro" %}

{% extends "class_info.njk" %}

{% block prereqs %}
<li>None</li>
{% endblock %}

{% block next_class %}
<li>Intermediate Python</li>
{% endblock %}

{% block main %}
{{ super() }}
<p>
This class is a Full Day Camp for first time programmers. No prior experience needed.
<p>
Topics Covered in Intro to Python:
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Logical and analytical thinking</li>
<li> Writing pseudo-code and implementing in Python</li>
<li> Data types, functions, loops, conditionals</li>
</ul>
</p>
<p>
Topics covered in Mobile Apps Intro:
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Develop first mobile app using block-based programming in a tool kit from MIT's
<a href="https://thunkable.com/" target="blank">Thunkable</a></li>
<li>Intro to analytic thinking and programming</li>
<li> Basics of logic & event handlers</li>
</ul>
<p>
Outcome:
<ul style="list-style: disc; margin: 0 0 25px 35px; font-size: 18px">
<li> Students can independently develop a fully functional python project</li>
<li> Students develop intro level cross platform mobile apps (android/iOS)</li>
</ul>
</p>
{# <p>
Class Duration: 12 weeks, once a week for 1.5 hours </p>
<p>
Tuition: $630 (full semester, pre-paid) or
 $240 paid in 3 installments
</p> #}
<p>
<a href="/images/CurriculumPython.pdf">Python Curriculum Details</a>
</p>
<p>
<a href="/images/CurriculumIntroMobileApps.pdf">Mobile Apps Curriculum Details</a>
</p>
<p>
<a href="/faq.html#cancellationPolicy">Class Refund and Cancellation Policy</a>
</p>
{% endblock %}